*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: blue;
    color: black;
    font-size: 3rem;
}
.maincontainer{
/* margin-top:30% ; */
/* margin-left: 40%; */
width: 40%;
 background-color: rgb(231, 218, 201);
 display: flex;
 /* justify-content: center; */

 /* align-items: center; */
 flex-direction: column;
 gap: 20px;
 border: 2px solid red ;
 border-radius: 5%;
 /* height: 40vh; */
}
input[type="text"]{
    border: 2px soild  yellow ;
    color:  rgb(153, 79, 79);
    background-color:gold ;

}

.item{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    /* margin: 5px; */
    color: beige;
    background-color: blueviolet;
}